page {
  background-color: #f7f8fa;
}
.index {
  position: relative;
}
.search {
  position: relative;
  z-index: 900;
}
.filter {
  position: relative;
  z-index: 1000;
}
// 分类
.tag-list {
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  overflow-x: scroll;
  padding: 10px 20px;
  // 不显示滚动条
  &::-webkit-scrollbar {
    display: none;
  }
}
.tag-list-detail {
  position: absolute;
  top: 80px;
  left: 0;
  width: calc(100% - 40px);
  background-color: #f7f8fa;
  padding: 10px 20px;
  .details {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    .item {
      display: flex;
      align-items: center;
      flex: 45%;
      margin-top: 20px;
      .joy-smile {
        transform: rotate(90deg);
        color: #fa2c19;
      }
      .tag-list-detail-item {
        margin-bottom: 10px;
      }
    }
  }
  .details-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    gap: 10%;
    .btn {
      width: 45%;
    }
  }
}
.tag-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  background-color: $color-background;
  margin-right: 20px;
  padding: 8px 16px;
  border-radius: 15px;
  // 选择分类的样式
  .choosed {
    color: #fa2c19;
  }
}
.tag-item-text {
  // 溢出显示省略号
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
}

.tag-item-icon {
  font-size: 24px;
  transition: transform 0.5s ease-in-out;
}
// 旋转 tag-item-icon 180 度动画
.tag-item-icon-rotate {
  transform: rotate(180deg);
}
.content {
  padding-bottom: 10px;
  .bottom-no-data {
    display: flex;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    color: #999;
  }
}
.card {
  display: flex;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  .img-con {
    width: 35%;
    .img {
      height: 200px;
      width: 100%;
      margin-right: 20px;
      border-radius: 20px;
    }
  }

  .details {
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    .title {
      color: #666;
      font-weight: 600;
    }
    .tags {
      margin-top: 20px;
    }
    .tag {
      color: #f0a020;
      border: 1px dashed #f0a020;
      font-size: 28px;
      padding: 0px 14px;
      display: inline-flex;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 10px;
    }
    .price {
      display: flex;
      align-items: flex-end;
      margin-top: 20px;
      font-weight: 500;
    }
    .price-text {
      margin-right: 20px;
      color: #999;
    }
    .price-num {
      font-weight: 600;
    }
  }
}

.add {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 10;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: rotate(0deg);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.uploader:active {
  color: var(--nut-primary-color);
}

.add:active {
  transform: rotate(360deg);
  transition: 0s;
  border-color: var(--nut-primary-color);
}
